/*....body.....*/
#container {
   
    margin: 0px auto;
    background-image: url(../images/slide3.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    animation: scal 10s linear infinite;
    -moz-animation: scal 10s linear infinite;
    -webkit-animation: scal 10s linear infinite;
    display:none;
    
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}
@keyframes scal {    
    0%{
        background-size: 120% 100%;
    }
    50%{
        background-size: 150% 120%;
    }
    100%{
        background-size: 120% 100%;
    }
}
-moz-@keyframes scal {    
    0%{
        background-size: 120% 100%;
    }
    50%{
        background-size: 150% 120%;
    }
    100%{
        background-size: 120% 100%;
    }
}
-webkit-@keyframes scal {    
    0%{
        background-size: 120% 100%;
    }
    50%{
        background-size: 150% 120%;
    }
    100%{
        background-size: 120% 100%;
    }
}
#container {
    background-color: rgba(0,0,0,0.3);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.navbar-nav {
    margin: 7.5px -15px;
    text-align: center;
    background-color: 
}
.container-fluid .nav .collapse.scroll_active  {
    padding: 0px;
    background-color: black;
    margin: 0px;
    transition: 1s;
    z-index: 10;
    text-align: center;
}

#container .container-fluid .collapse ul {
    margin: 0px;
    padding:0px 150px;
    /*display: inline;*/
    
}
#container .container-fluid .nav1 .collapse ul li:first-child a{
    color: #38DCC8;
     
}
#container .container-fluid .nav1 .collapse ul li a {
    font-size: 21px;
    color: gray;
    transition: color 0.8s ease 0s;
    letter-spacing: 1.5px;
   font-family: 'Roboto Condensed', sans-serif;
}
#container .container-fluid .nav1 .collapse ul li a:hover {
    color: #38DCC8;
    text-decoration: none;
}


#container .container-fluid .nav1 .collapse ul li {
    display: inline-block;
    padding: 15px;
    transition: 1s;
    visibility: inherit;
}
#container .container-fluid nav1 .collapse ul li {
    height: 10px;
}
#container .container-fluid nav1 .collapse {
    margin: 0px;
}
#container  #icon {
    top:42%;
        position: fixed;
    padding: 9px;
    z-index: 3;
    width:70px;
}
#container  #icon a .fa {
    font-size: 25px;
    width:55px;
    height: 55px;
    color: #fff;
    margin:4px;
    text-align: center;
    border-radius: 50%;
    background-color: darkslategray;
    /*padding: 7px;*/
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 55px;
    
}
#container  #icon a .fa:hover{
    background-color: #38DCC8;
    border-radius: 50%;
    height: 57px;
    width:57px;
    border:3px solid #fff;
    margin: 0px;
    text-align: center;
    line-height: 54px;
}




/*......home ....*/
#container #home {
    text-align: center;
}
#home #text h1 {
    font-weight: 800;
    font-size: 70px;
    letter-spacing: 9px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
}
#home #text {
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding: 200px 0px;
}
#home #text h2{
       font-family: 'Ubuntu', sans-serif; 

}
#home #text h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 70px;
    letter-spacing: 9px;
    text-transform: uppercase;
    padding-bottom: 20px;
    overflow: hidden; 
    white-space: nowrap;
    text-align: center;
     width: 625px;
   /* margin-left: 400px;*/
    display: inline-block;
    /*padding-right: 250px;*/
    animation: type 10s steps(60, end); 
}

@keyframes type{ 
  from { width: 0px; } 
    to {
        width: 100%;
        
    }
} 
#home #text h1 span {
    color: #38DCC8;
}
#home #mousehead {
    margin: 0px 300px;
}
#home #text #mouse {
    height: 30px;
    width: 22px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
#home #text .arrow a{
    top:70px;
    text-decoration: none;
    font-size: 36px;
    opacity: 0;
    animation: blinking 1.4s linear infinite;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    
}
@keyframes blinking {
   from,
  49.9% {
    opacity: 0;
  }
  50%,
  to {
    opacity: 1;
  }
  }


/*
........aboutme........*/
#aboutme {
    width: 100%;
    border: 1px solid #38DCC8;
    background-color: #38DCC8;
}
#aboutme #section2 {
    padding: 50px 140px;
    font-family: 'Roboto Slab', serif;
}

#aboutme #section2 .dp1 img {
    width:390px;
     filter: grayscale(50%);
    height: 390px;
   border-radius: 50%;
    box-shadow: 5px 5px 2px gray;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#aboutme #section2 #dp {
    border:10px solid #fff;
    margin-top:45px;
    width:350px;
    height: 320px;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 23px;
    
}
#aboutme #section2 #dp h1 {
    font-weight: 800;
    font-size: 40px;
    color:#fff;
    text-transform: uppercase;
    /*padding :20px;*/
    letter-spacing: 10px;
    padding-left: 15px;
}
#aboutme #section2 #content {
    padding: 50px;
    float :right;
   
    
}
#aboutme #section2 #content p {
    color:#fff;
    width: 257px;
    word-wrap: break-word;
    padding: 10px;
    text-align:justify;
    
    
}
#aboutme #section2 #content p:first-child{
    font-size: 21px;
    font-weight: 600;
}
#aboutme #section2 img {
    height: 500px;
    width:400px;
    position: relative;
    z-index: 1;
}
#aboutme #section2 #content button {
    border: 1px solid #fff; 
    background-color: #fff;
    color: #38DCC8;
    padding: 10px;
    float: left;
    
}
#aboutme #section2 #content button:hover {
    background-color: #fff;
    color: #fff;
    border:1px solid #38dcc8;
    transition: color 2s ease 0s;
}
#text div.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:#38dcc8;

}



#aboutme #content:after /*.traingle*/{
    content: "";
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 55px solid #38DCC8;
      top:110%;
        left:0;
        position: absolute; 
}


/*
........Skills..........
*/
#skills {
    background-image: url(../images/hashtag.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
   
}
#skills #overlay {
    margin: auto 0px;
    padding: 150px;
    background-color: rgba(0,0,0,0.4);
    
}

#skills #overlay #heading {
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 10px;
    padding: 10px;
    text-align: center;
    filter: none;
}
#skills #heading h1{
    font-weight: 800;
    font-size: 50px;
}
#skills .name ul{
    text-decoration: none;
    text-transform: uppercase;
    
}
#skills .name ul li {
    color:#fff;
    list-style: none;
    padding: 20px;
}
#skills #section2 {
    /*margin: 0px 100px;*/
    padding: 40px;
    column-count: 2;
         display: flex;
        flex-wrap: wrap;
}
#skills #section2 .column1 {
    width:150px;
    
}
#skills #section2 .column1 p {
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 17px;
}
#skills #section2 img {
    height: 50px;
    width:80px;
}
#skills #section2 .column {
    padding:10px 14px;
    color:#fff;
    width: 590px;
    
}
#skills #section2 .column span {
    transition: 1s;
    
}
#skills #section2 .column.active{
    transition-delay: 2s;
}
#skills #section2 .column.active .bar1 {
    animation: bar1 1.5s linear forwards;
    border: 8px solid rgba(0, 214, 70, 1);
    /*animation: 1s;*/
    border-radius: 2px;
    margin-bottom: 70px;
    transform-origin: left;
}
@keyframes bar1 {
    from{
        
        width:0%;
    }
    to{
        width:87%;
    }
}
#skills #section2 .column.active .bar2 {
    animation: bar2 1s linear forwards;
    border: 8px solid rgba(0, 214, 70, 1);
    border-radius: 2px;
    margin-bottom: 70px;
   transform-origin: left;
}
@keyframes bar2 {
    from{
        
        width:0%;
    }
    to{
        width:68%;
    }
}
#skills #section2 .column.active .bar3 {
    animation: bar3 1s linear forwards;
    animation-delay: .2s;
    border: 8px solid rgba(0, 214, 70, 1);border-radius: 2px;
margin-bottom: 70px;
   
 transform-origin: left;
}
@keyframes bar3 {
    from{
        
        width:0%;
    }
    to{
        width:70%;
    }
}
#skills #section2 .column.active .bar4 {
    animation: bar4 1s linear forwards;
    animation-delay: .7s;
    border-radius: 2px;
    border: 8px solid rgba(0, 214, 70, 1);
margin-bottom: 70px;
   
 transform-origin: left;
}
@keyframes bar4 {
    from{
        
        width:0%;
    }
    to{
        width:70%;
    }
}
#skills #section2 .column.active .bar5 {
    animation: bar5 1s linear forwards;
    animation-delay: .7s;
    border-radius: 2px;
    border: 8px solid rgba(0, 214, 70, 1);

   
 transform-origin: left;
}
@keyframes bar5 {
    from{
        
        width:0%;
    }
    to{
        width:70%;
    }
}
/*For Education Section*/
#education-container {
     
   
    background-color: #555C6E;
    padding: 100px;
    
}
#education-container .edu-sec1{
    text-align: center;
    
  
}
#education-container .edu-sec1 h1{
     font-weight: 800;
    font-size: 50px; 
    color: #fff;
    padding: 10px;
    font-family: 'Saira', sans-serif;
    text-shadow: 2px 2px #ccc;
   
}
#education-container .edu-sec1 h1 img{
    width:20%;
}
#education-container .edu-sec1 h1 img:hover{
    
    animation: 2s rot forwards;
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    } to{transform: rotate(360deg);
}
}
#education-container #edu-sec2 {
   text-align: center;
    
}
#education-container #edu-sec2 #education1{
    display: flex;
    padding: 100px;
   
}

#education-container #edu-sec2 #education1 .circle{
   padding-left: 48.8%;
    padding-top: 5px;
    width: 46%;
}
#education-container #edu-sec2 #education1 .circle .cir{
   
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: aqua;
    
    
    
}
@keyframes anim1
{
    from{opacity: 0;}
    to{opacity: 1;}
}
#education-container #edu-sec2 #education1 .right{
    color: #fff;
    text-align: left;
    padding-left: 40px;
    width:300px;
    animation: anim1 10s forwards;
}
#education-container #edu-sec2 #education1 .right h3{
    margin: 0px;
    color: aqua;
}
#education-container #edu-sec2 #education1 .right p:last-child{
    color: aqua;
}
#education-container #edu-sec2 #education2 {
    display: flex;
    padding-left: 233px;
}
#education-container #edu-sec2 #education2  .left{
     color: #fff;
    text-align: right;
    width:300px;
    animation: anim1 10s forwards;
    /*animation-delay: 1s;*/
   /* width:46%;*/
    /*padding-left: 100px;*/
    
}
#education-container #edu-sec2 #education2 .left h3{
    margin: 0px;
    color: aqua;
}

#education-container #edu-sec2 #education2 .left p:last-child{
    color: aqua;
}
#education-container #edu-sec2 #education2 .left h4,#education-container #edu-sec2 #education1 .right h4{
    font-family: 'Roboto Slab', serif;

    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
#education-container #edu-sec2 #education2 .circle{
    padding-left: 30px;
    padding-top: 5px;
   /* width: 46%;*/
}
#education-container #edu-sec2 #education2 .circle .cir{
   
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: aqua;
    
    
}
#education-container #edu-sec2:hover #border{
    border-left: 3px solid aqua;
   
    animation: border1 3s linear forwards;
    
    left:49.5%;
    position: absolute;
    /*transform-origin: top;*/
}
@keyframes border1{
    from{
        top:2818px;
        height: 0px;
        
    }
    to{
        top:2818px;
        height: 892px;
        /*height: 200px;
       */
    }
}



/*
....Portfolio...............
*/
#container #portfolio {
    padding: 50px;
    display: grid;
    background-repeat: no-repeat;
    height: 1000px;
    background-attachment: fixed;
    background-size: 100% 100%; 
   animation: portfolio 8s linear infinite;
    -moz-animation: portfolio 8s linear infinite;
    -webkit-animation: portfolio 8s linear infinite;
  
}
@keyframes portfolio{
    0%{
        background-image: url("../images/banner1.jpg");
       
    }
    50%{
        background-image: url("../images/banner2.jpg");
    }
    100%{
        background-image: url("../images/slide3.jpg");
    }
}
-webkit-@keyframes portfolio{
    0%{
        background-image: url("../images/banner1.jpg");
       
    }
    50%{
        background-image: url("../images/banner2.jpg");
    }
    100%{
        background-image: url("../images/slide3.jpg");
    }
}
-moz-@keyframes portfolio{
    0%{
        background-image: url("../images/banner1.jpg");
       
    }
    50%{
        background-image: url("../images/banner2.jpg");
    }
    100%{
        background-image: url("../images/slide3.jpg");
    }
}
#portfolio .content h1 {
    text-align: center;
    padding: 70px;
    color: #fff;
    text-transform: uppercase;
    font-size: 47px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    letter-spacing: 3.5px;
}
#portfolio .content .grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
#portfolio .content .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

#portfolio .content .grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portfolio .content .grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#portfolio .content .grid figure figcaption::before,
#portfolio .content .grid figure figcaption::after {
	pointer-events: none;
}

#portfolio .content .grid figure figcaption,
#portfolio .content .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#portfolio .content .grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#portfolio .content .grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    
}

#portfolio .content .grid figure h2 span {
	font-weight: 800;
}

#portfolio .content .grid figure h2,
#portfolio .content .grid figure p {
	margin: 0;
}

#portfolio .content .grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*---------------*/
/***** Oscar *****/
/*---------------*/

#portfolio .content .grid figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

#portfolio .content .grid figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
    height: 300px
}

#portfolio .content .grid figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

#portfolio .content .grid figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

#portfolio .content .grid figure.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

#portfolio .content .grid figure.effect-oscar figcaption::before,
#portfolio .content .grid figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

#portfolio .content .grid figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);

}

#portfolio .content .grid figure.effect-oscar:hover figcaption::before,
#portfolio .content .grid figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

#portfolio .content .grid figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

#portfolio .content .grid figure.effect-oscar:hover img {
	opacity: 0.4;
}
/*Hobbies*/


#container #hobbies {
    width:100%;
    padding: 10px;
  background: radial-gradient(#fff, #38DCC8);
}
#container #hobbies h2 {
    padding-top: 100px;
    text-align: center;
    margin:0;
    border:0 none;
    position: relative;
    outline: none;
    
    color: rgba(0,0,0,.4);
  
}
#container #hobbies h2 > a{
  text-decoration: none;
  color: rgba(0,0,0,.4);
  z-index: 1;
}

#container #hobbies h2 > a:before {
  content: "";
  position: absolute;
  width: 17%;
  height: 5px;
  bottom: 0;
 /* left: 0;*/
  background: #fff;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
  transition: .25s linear;
    -moz-transition: .25s linear;
    -webkit-transition: .25s linear;
}
#container #hobbies h2 > a:hover:before,
#container #hobbies h2 > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
#container #hobbies h2 a {
    
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    
    text-transform: uppercase;
    font-size: 51px;
    text-shadow: 2px 2px #01B6AD;
}


#container #hobbies .hob-images{
    text-align: center;
    padding:50px 0px;
    display: flex;
}
#container #hobbies .hob-images .image1{
    max-width: 200px;
    min-width: 141px;
    height: 340px;
    background-color: #fff;
    margin-right: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    position: relative;
    display: inline-table;
    cursor: pointer;
}
#container #hobbies .hob-images .fa{
    color: #000;
    font-size: 61px;
    padding: 40px;
}

#container #hobbies .hob-images  h3 {
    font-size: 31px;
    color: #000;
    font-family: 'Courgette', cursive;
    font-weight: 600;
    
}
 #container #hobbies .hob-images .image1 .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;

    }
#container #hobbies .hob-images .image1:hover .overlay{
        bottom: 0;
  height: 100%;
    padding: 30px;
    }
#container #hobbies .hob-images .image1 .overlay .fa{
    /*color: #3F51B5;*/
    font-size: 61px;
    padding: 40px;
}
#container #hobbies .hob-images .image1:first-child .overlay .fa{
    color: #fff;
}
#container #hobbies .hob-images .image1:nth-child(2) .overlay .fa{
    color: #1AD1FD;
}
#container #hobbies .hob-images .image1:nth-child(3) .overlay .fa{
    color: #fff;
}
#container #hobbies .hob-images .image1:nth-child(4) .overlay .fa{
    color: #CCCCCC;
}
#container #hobbies .hob-images .image1:last-child .overlay .fa{
    color:#6A6F82;
}

#container #hobbies .hob-images .image1 .overlay h3 {
    font-size: 31px;
    color: #fff;
    font-family: 'Courgette', cursive;
    font-weight: 600;
    
}
#container #hobbies .hob-images .image1 img{
    width:100px;
    padding: 39px 17px;
}
#container #hobbies:last-child .overlay .fa{
    color: silver;
}


#container #footer{
    background-color: #2D3643;
    width: 100%;
    
}
#container #footer p{
    padding: 20px 170px;
    color: #fff;
} 
   

        
        
#container #footer p{
    padding: 20px 100px;
    color: #fff;
    overflow: hidden;
}        
        
/*......Media Queries -----*/

@media only screen and (max-width:768px)
{   
    #container .container-fluid .nav1 .collapse.scroll_active,.container-fluid .nav1 .collapse {
   background-color: rgba(100,100, 100,0.7);
     }
   #container .container-fluid .nav1 .collapse.scroll_active ul,#container .container-fluid .nav1 .collapse ul{
        padding: 0px 60px;
       margin: 0px;
   
    }
    #container .container-fluid .nav1 .collapse.scroll_active ul li,#container .container-fluid .nav1 .collapse ul li{
        padding: 0px;
        margin: 0px;
        display: block;
    }
    
    #container .container-fluid .nav1 .collapse.scroll_active ul li a,#container .container-fluid .nav1 .collapse ul li a{
        font-size: 14px;
        color: #fff;
    }
    /*......for #home .....*/
    #home #text{
        padding: 150px 0px;
    }
    #home #text h1 {
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 5px;
    padding-bottom: 0px;
    }
    #home #text h3 {
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 0px;
     max-width: 340px;
     display: inline-block;
    animation: type 3s steps(60, end); 
     }
    #home #text h2{
      font-size: 20px;
    }
   /* .....aboutme.....*/
    #aboutme {
        padding: 0px;
    }
    #aboutme #section2 {
    padding: 10px 10%;
        
    }
    #aboutme #section2 .dp1 img {
    width:220px;
     filter: grayscale(50%);
    height: 220px;
   border-radius: 50%;
    box-shadow: 5px 5px 2px gray;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        left: 12%;
       
}
    #aboutme #section2 #dp {
    border:5px solid #fff;
    margin-top:45px;
    width:210px;
    height: 210px;
    float:none;
         margin-bottom: 50px;
    }
    #aboutme #section2 #dp h1 {
    font-size: 18px;
    }
    #aboutme #section2 #content {
    padding: 0px;
    float :none;
        margin-bottom: 20px;
  }
   #aboutme #section2 #content button {
    
    float: none;
       text-align: center
    }
    #aboutme #section2 #content .traingle {
     display: hidden;
    }
    #aboutme #content:after { 
        display: none;
    }
    

    
    /*.............SKills...........*/
    #skills #overlay {
        padding: 30px;
    }
    #skills #heading h1{
        font-size: 32px;
    }
    #skills #heading h2{
        font-size: 13px;
        font-weight: 700;
    }
    #skills #section2{
        margin: 0px;
        padding: 0px;
    }
    #skills #section2 .column1{
        width: 50px;
    }
    #skills #section2 img {
    height: 45px;
    width: 50px;
    }
    #skills #section2 .column1 p{
    padding: 5px;
    font-size: 12px;
    }
    
    #skills #section2 .column {
    padding: 10px 0px 10px 37px;
    color: #fff;
        min-width: 45%;
    max-width: 75%;
    }
    #container #skills #section2 .column .bar1,#container #skills #section2 .column .bar2,#container #skills #section2 .column .bar3,#container #skills #section2 .column .bar4,#container #skills #section2 .column .bar5 {
    border: 5px solid rgba(0, 214, 70, 1);
    margin-bottom: 69px;
    transform-origin: left;
    }
    /*.......share icon ......*/
    #container  #icon {
    top:37%;
    padding: 7px;
       /* display: none;*/
    }
     #container  #icon a .fa {
    font-size: 21px;
    width:40px;
    height: 40px;
    margin:4px;
    text-align: center;
    line-height: 41px;
    }
    #container  #icon a .fa:hover{
    height: 40px;
    width:40px;
    margin: 3px;
    text-align: center;
    line-height: 37px;
   }
   /* ...........education........*/
    #container #education-container{
        padding: 20px;
    }
    #container #education-container .edu-sec1 h1{
        font-size: 28px;
        padding: 20px;
    }
    #education-container #edu-sec2{
        padding: 20px;
    }
    #education-container #edu-sec2 #education1,#education-container #edu-sec2 #education2{
        padding: 20px;
    }
    #education-container #edu-sec2 #education1 .circle,#education-container #edu-sec2 #education2 .circle{
        padding-left: 0px;
        width: 50px;
    }
    #education-container #edu-sec2 #education1 .right,#education-container #edu-sec2 #education2 .left{
        padding-left: 5px;
        text-align: left;
        
    }
    #education-container #edu-sec2 #education1 .circle .cir,#education-container #edu-sec2 #education2 .circle .cir{
    display: none;
    }
    
    #education-container #edu-sec2 #education2 .left h3,#education-container #edu-sec2 #education1 .right h3{
        font-size: 19px;
    }
    #education-container #edu-sec2 #education1 .right h4,#education-container #edu-sec2 #education2 .left h4{
        font-size: 18px;
    }
    #education-container #edu-sec2 #education2 .circle{
        width: 0px;
        display: none;
    }
    #education-container #edu-sec2 #education2{
        text-align: left;
        padding-left: 45px;
    }
    #education-container #edu-sec2:hover #border{
    display: none;
     }
    /*......portfolio.....*/
    #container #portfolio{
        margin: 0px;
        padding: 10px;
        height: 1170px;
    }
    #container #portfolio .content h1{
        font-size: 27px;
        padding: 30px;
    }
    #portfolio .content .grid figure{
margin: 10px 8%;
min-width: 256px;
max-width: 435px;
max-height: 224px
    }
    #portfolio .content .grid figure.effect-oscar figcaption{
        padding: 16px;
    }
    #portfolio .content .grid figure.effect-oscar figcaption h2{
        font-size: 23px;
    }
    #portfolio .content .grid figure.effect-oscar figcaption h2 span {
        font-weight: 700;
    }
    #portfolio .content .grid figure p{
        font-size: 9px;
       /* width:200px;*/
        font-weight: 500;
    }
    #portfolio .content .grid figure.effect-oscar figcaption::before{
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }
    #container #hobbies h2{
        padding-top: 50px;
    }
    #container #hobbies h2 a{
        font-size: 40px;
    }
    #container #hobbies h2 > a::before {
    width: 62%;
    }
    #container #hobbies .hob-images{
        display: block;
       /* padding: 23%;*/
       }
    #container #hobbies .hob-images .image1{
        height: 275px;
        margin-bottom: 20px;
    }
    #container #hobbies .hob-images .fa{
        padding: 20px;
    }
    #container #hobbies .hob-images .fa:hover{
        padding: 20px;
    }
    #container #footer p {
    padding: 20px 10px;
    }
    
}
@media  (min-width:1023px) 
{    
    #container .container-fluid .collapse ul {
   
    padding: 0 9%;
    }
    #container #hobbies .hob-images .image1 {
    min-width: 175px;
    }
    #container #hobbies .hob-images {
        padding:  12%;
    }
    #aboutme #section2 .dp1 img{
        left:10%;
    }
    #aboutme #section2 #dp{
           width: 340px;
    }
    #skills #overlay{
        padding: 12%;
    }
    #skills #section2 .column{
        width: 530px;
        
    } 
    
   
        
        
    
}

@media only screen and (min-width:776px){
    #container .container-fluid .nav1 .collapse.scroll_active {
    background-color:#000;
}
#container .container-fluid .nav1 .collapse.scroll_active ul li{
    padding: 5px;
}
#container .container-fluid .nav1 .collapse.scroll_active ul {
    text-align: center;
    
}
#container .container-fluid .nav1 .collapse.scroll_active ul li a {
    color:#fff;
    font-size: 20px;
}
.container-fluid .nav .collapse.scroll_active ul li a:hover{
    color:grey;
   /* font-size: 20px;*/
}
.container-fluid .nav .collapse.scroll_active {
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    /*padding: 10px;*/
    margin: 0px;
    height: 70px;
}
}
@media (min-width:768px) and (max-width:1022px){
    #container .container-fluid .collapse ul {
    margin: 0px;
    padding: 0 9%;
}
    #container .container-fluid .nav1 .collapse ul li {
    padding: 5px;
    }
    #container .container-fluid .nav1 .collapse ul li a {
    font-size: 19px;
        padding: 14px 10px;
    }
    #aboutme #section2 #dp{
        float: left;
    }
    #aboutme #section2 #content{
        float: right;
    }
    #aboutme #section2 {
    padding: 10px 10%;
        
    }
    #aboutme #section2 .dp1 img {
    width:300px;
     height: 300px;
   left: 12%;
       
    }
    #aboutme #section2 #dp {
    border:5px solid #fff;
    margin-top:45px;
    width:270px;
    height: 254px;
    }
    #skills #overlay {
        padding: 12%;
    }
    #skills #section2  {
        padding: 5%;
    } 
    #skills #section2 .column{
        width: 70%;
        
    } 
    #container #hobbies .hob-images .image1{max-width: 200px;
min-width: 141px;
   }
    #container #hobbies .hob-images .image1{
        padding: 15px;
    }
    #container #hobbies .hob-images .image1:hover{
        padding: 15px;
    }
}


@media only screen and (min-width:481px) and (max-width:640px){
    
    #aboutme #section2 {
    padding: 50px 20%;
    }
    #aboutme #section2 .dp1 img {
    width:220px;
     filter: grayscale(50%);
     height: 220px;
     border-radius: 50%;
     left: 54px;
       
}
    
}
@media (min-width:481px) and (max-width:640px){
    #aboutme #section2 .dp1 img{
    left:20%;
    }
     #aboutme #section2 #dp{
        float: none;
    }
    #aboutme #section2 #content{
        float: none;
    }
    
}
@media only screen and (max-width:1028px){
    #education-container #edu-sec2:hover #border{
    display: none;
}
   
    
}
@media (min-width:1022px) and (max-width:1034px){
     #section2 #dp {
    width: 340px;
}
}
@media (min-width:785px)and (max-width:799px){
    #container #portfolio {
            height: 1593px;
    }
}